<h4>Informações da Agenda</h4>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome do Compromisso</th>
        <th scope="col">Local do Compromisso</th>
        <th scope="col">Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Agendas of agenda">
          <th>{{Agendas.id}}</th>
          <th>{{Agendas.namecommitment}}</th>
          <td>{{Agendas.localcommitment}}</td>
          <td>{{Agendas.date}}</td>
<td><button class="btn btn-danger" (click)="delete(Agendas)">Remover</button></td>
        </tr>
        <button class="btn btn-primary"(click)="create()">Novo</button>
    </tbody>
  </table>
</div>
