<h4>Informações da Agenda</h4>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome do Compromisso</th>
        <th scope="col">Local do Compromisso</th>
        <th scope="col">Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let agenda of agendas">
          <th>{{agenda.id}}</th>
          <th>{{agenda.namecommitment}}</th>
          <td>{{agenda.localcommitment}}</td>
          <td>{{agenda.date}}</td>
          <td><button class="btn btn-danger" (click)="delete(agenda)">Remover</button></td>
          <button class="btn btn-primary"(click)="create()">Novo</button>
        </tr>
    </tbody>
  </table>
</div>